@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .pause {
    animation-play-state: paused;
  }

  .scrollbar::-webkit-scrollbar {
    width: calc(10 * var(--scale));
    height: calc(10 * var(--scale));
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #cfcfcf;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 100vh;
    border: 3px solid black;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: black;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* .curated-swiper .swiper-wrapper {
    display: flex;
    align-items: end;
  } */
  @media screen and (min-width: 1280px) {
    .curated-swiper .swiper-wrapper {
      gap: 0px;
      display: flex;
      align-items: end;
    }
  }
  @media screen and (max-width: 1280px) {
    .curated-swiper .swiper-wrapper {
      gap: 0px;
      align-items: center;
      padding: 0;
    }
  }
}

body {
  font-family: var(--font-space-grotesk);
}

:root {
  --min-viewport-width: 220px;
  --max-viewport-width: 5000px;
  --ideal-viewport-width: 1600;
  --current-viewport-width: 100vw;
  --clamped-viewport-width: clamp(
    var(--min-viewport-width),
    var(--current-viewport-width),
    var(--max-viewport-width)
  );
  --scale: var(--clamped-viewport-width) / var(--ideal-viewport-width);
  --size-14: calc(14 * var(--scale));
  --size-16: calc(16 * var(--scale));
  --size-18: calc(18 * var(--scale));
  --size-20: calc(20 * var(--scale));
  --size-24: calc(24 * var(--scale));
  --size-32: calc(32 * var(--scale));
  --size-34: calc(34 * var(--scale));
  --size-38: calc(38 * var(--scale));
  --size-42: calc(42 * var(--scale));
}

@media not all and (min-width: 1024px) {
  :root {
    --ideal-viewport-width: 1024;
    --size-14: calc(12 * var(--scale));
    --size-16: calc(14 * var(--scale));
    --size-18: calc(16 * var(--scale));
    --size-20: calc(16 * var(--scale));
    --size-24: calc(20 * var(--scale));
    --size-32: calc(24 * var(--scale));
    --size-34: calc(22 * var(--scale));
    --size-38: calc(24 * var(--scale));
    --size-42: calc(24 * var(--scale));
  }
}

@media not all and (min-width: 768px) {
  :root {
    --ideal-viewport-width: 768;
    --size-14: calc(12 * var(--scale));
    --size-16: calc(16 * var(--scale));
    --size-18: calc(16 * var(--scale));
    --size-20: calc(16 * var(--scale));
    --size-24: calc(20 * var(--scale));
    --size-34: calc(16 * var(--scale));
    --size-38: calc(24 * var(--scale));
    --size-42: calc(24 * var(--scale));
  }
}

@media not all and (min-width: 450px) {
  :root {
    --ideal-viewport-width: 375;
    --size-14: calc(12 * var(--scale));
    --size-16: calc(14 * var(--scale));
    --size-18: calc(16 * var(--scale));
    --size-20: calc(14 * var(--scale));
    --size-24: calc(18 * var(--scale));
    --size-34: calc(18 * var(--scale));
    --size-38: calc(20 * var(--scale));
    --size-42: calc(20 * var(--scale));
  }
}

.markdown a {
  @apply underline text-blue-600 font-semibold;
}

.markdown p {
  @apply my-4;
}
